#main {
    margin: auto;
    padding: 10px;
    width: 90%;
    border: solid 2px black;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-J2 {
    display: none;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: solid 2px black;
    border-radius: 6px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carte {
    border: solid 2px black;
    border-radius: 6px;
    width: 106px;
    height: 133.5px;
    margin-left: 5px;
    margin-right: 5px;
}

#main div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    text-align: center;
    border: solid black 2px;
    border-radius: 10px;
}